<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode>
      <nodeProcessCommandLine value="C:\Program Files\nodejs\node.exe" />
      <devErrorsEnabled value="true" />
    </iisnode>
  </system.webServer>
</configuration>